<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="jss-next"
             deploymentSecret="p0hjpb84f5hsfj7ar1llwdv2lv3j8as7y03ip1dhr"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
